<div>
  <h3>Model driven</h3>
  <form novalidate (ngSubmit)="onSubmit()">
    <div class="row" [formGroup]="loginForm">
      <label for="usernmae">Username</label>
      <input formControlName="username" name="username" id="username" type="text">
      <label for="password">Password</label>
      <input formControlName="password" name="password" name="password" type="password">
    </div>
    <div>
      <button type="submit" [disabled]="loginForm.invalid"  class="button-primary"> Login </button>
    </div>
  </form>
</div>